<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="myStyle.css" />

    <style>
      input,
      button {
        font-size: 33px;
      }
    </style>
  </head>
  <body>
    <hr />
    <hr />
    <hr />
    <hr />
    <h1>What is ur name</h1>
    <form method="post" action="/">
      <input type="text" name="userNamee" />
      <br />
      <br />
      <button>send</button>
    </form>
    <hr />
    <hr />
    <h1>your name is <%= myData.at(-1).userNamee %></h1>
    <hr />
    <hr />
  </body>
</html>
